/* components/TimerButton.css */
.timer-button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.timer-button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.timer-button.start {
    background-color: #4caf50;
    box-shadow: 0px 4px 8px rgba(76, 175, 80, 0.5);
}

.timer-button.pause {
    background-color: #f44336;
    box-shadow: 0px 4px 8px rgba(244, 67, 54, 0.5);
}

.timer-button.reset {
    background-color: #008cba;
    box-shadow: 0px 4px 8px rgba(0, 139, 186, 0.5);
}