/* components/TimerCard.css */
.timer-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    perspective: 1000px;
}

.timer-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.5s ease;
    transform-style: preserve-3d;
}

.timer-card:hover {
    transform: rotateY(5deg);
    /* Slight tilt on hover */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

/* Modifiers for different timer states - BEM */
.timer-card.pomodoro {
    background-color: #f08080;
}

.timer-card.shortBreak {
    background-color: #17a2b8;
}

.timer-card.longBreak {
    background-color: #808000;
}

.timer-card__buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.timer-card__button {
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    transition: all 0.3s ease;
}


.timer-card__button.active {
    font-weight: bold;
    text-decoration: underline;
}

.timer-card__display {
    font-size: 3rem;
    margin-bottom: 20px;
    color: white;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.settings-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: white;
    /* Or your desired icon color */
}

.settings-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    outline: none;
    /* Remove default modal outline */
}

.settings-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.setting-item {
    margin-bottom: 10px;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 1.5em;
}